@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rowdies:wght@300;400;700&family=Rubik+Vinyl&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&family=Unbounded:wght@200..900&display=swap');

* {
    padding: 0;
    margin: 0;
    scrollbar-width: none;
}

@font-face {
    font-family: 'GROBOLD';
    src: url('./font/GROBOLD.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Poppins';
    background-color: #fdfce7;
}

nav {
    display: flex;
    align-items: center;
    height: 15vh;
    width: 100%;
    /* background: green; */
    position: fixed;
    top: 0;
    justify-content: space-around;
    /* filter: blur(1px); */
    background-color: #fdfce7;
    z-index: 100;
}

nav::after {
    position: absolute;
    content: '';
    height: 3%;
    width: 100%;
    bottom: 0;
    /* margin-left: 2.5%; */
    background: #0e4839;
    /* background: #ffc702; */
}

.nav-title {
    font-family: 'GROBOLD';
    font-size: 40px;
    width: 20%;
    /* margin-right: 12%; */
    /* border: 1px solid #0e4839; */
    /* text-align: center; */
    padding-left: 5%;
    color: #0e4839;
}

nav span:nth-child(2) {
    /* border: 1px solid #0e4839; */
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    /* background: #0e4839; */
    position: relative;
    /* border: 1px solid black; */
}

nav a {
    text-decoration: none;
    color: #0e4839;
}

nav span:nth-child(3) {
    height: 100%;
    /* background: #0e4839; */
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

span:nth-child(3) a:nth-child(1) {
    background: #0e4839;
    padding: 10px 20px;
    border: 1px solid #0e4839;
    /* border-radius: 20px; */
    color: #fff;
    transition: .2s all;
}

span:nth-child(3) a:nth-child(2) {
    /* background: #ffc702; */
    border: 1px solid #0e4839;
    padding: 10px 15px;
    /* border-radius: 10px; */
    transition: .2s all;
    color: #0e4839;
}


span:nth-child(3) a:nth-child(1):hover {
    border: 1px solid #0e4839;
    background: transparent;
    padding: 10px 20px;
    border-radius: 20px;
    color: #0e4839;
}

span:nth-child(3) a:nth-child(2):hover {
    background: #0e4839;
    padding: 10px 15px;
    border-radius: 20px;
    color: #fff;
}

nav span:nth-child(2) a:nth-child(1):hover::after {
    position: absolute;
    content: '';
    height: 3%;
    right: 59.5%;
    width: 6%;
    bottom: 40px;
    /* margin-left: 2.5%; */
    background: #0e4839;
    /* background: #ffc702; */
    transition: .2s all;
}

nav span:nth-child(2) a:nth-child(2):hover::after {
    position: absolute;
    content: '';
    height: 3%;
    right: 48%;
    width: 6.5%;
    bottom: 40px;
    /* margin-left: 2.5%; */
    background: #0e4839;
    /* background: #ffc702; */
    transition: .2s all;
}

nav span:nth-child(2) a:nth-child(3):hover::after {
    position: absolute;
    content: '';
    height: 3%;
    right: 34.5%;
    width: 8%;
    bottom: 40px;
    /* margin-left: 2.5%; */
    background: #0e4839;
    /* background: #ffc702; */
    transition: .2s all;
}

.hero {
    margin-top: 15%;
    height: 50vh;
    width: 100%;
    background-color: #0e4839;
    display: flex;
}

.hero span:nth-child(1) {
    width: 55%;
    /* border-right:1px solid #ffffff; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.hero span p {
    color: #fdfce7;
}

.hero span p:nth-child(1) {
    font-size: 40px;
    margin-left: 9%;
    font-weight: 700;
}

.hero span p:nth-child(2) {
    font-size: 20px;
    margin-left: 9%;
    /* font-weight: 700; */
    /* text-align: justify; */
}

.hero span a {
    text-decoration: none;
    background-color: #fdfce7;
    margin-left: 9%;
    color: #0e4839;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    /* border-radius: 50px; */
}

.hero span:nth-child(2) {
    height: 100%;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    height: 80%;
    width: 75%;
    border-radius: 10px;
    background: #fdfce7;
}

.version-title {
    font-size: 40px;
    font-weight: 700;
    /* text-align: center; */
    margin-left: 5%;
    color: #0e4839;
    margin-top: 3%;
}

.version-download {
    max-height: 550px;
    width: 90%;
    margin: 15px 5%;
    border: 1px solid #0e4839;
    overflow: scroll;
    scroll-behavior: smooth;
    /* display: flex; */
    flex-direction: column;
    /* position: relative; */
    /* justify-content: space-around; */
}

.version-download-content {
    height: 60px;
    width: 100%;
    /* border: 1px solid #0e4839; */
    display: flex;
    /* flex-direction: column;   */
    /* justify-content: space-evenly; */
    align-items: center;
    position: relative;
}

.version-download-content a::before {
    position: absolute;
    content: '';
    height: 3px;
    bottom: 0;
    left: 0;
    width: 97%;
    margin-left: 1.5%;
    background-color: #0e4839;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.version-download-content p:nth-child(1) {
    /* font-size: 20px; */
    /* font-weight: 600; */
    width: 7%;
    border-right: 3px solid #0e4839;
    color: #0e4839;
    margin-left: 20px;
}

.version-download-content p:nth-child(2) {
    /* font-size: 20px; */
    /* font-weight: 600; */
    margin-left: 20px;
    width: 76%;
    border-right: 3px solid #0e4839;
    color: #0e4839;
}

.version-download-content a {
    margin-left: 10px;
    width: 10%;
    text-decoration: none;
    color: #0e4839;
    /* border-radius: 2px; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #0e4839;
    padding: 2px 10px;
}

.version-download-content a:hover {
    background-color: #0e4839;
    color: #fdfce7;
}

.instruction {
    height: 40vh;
    width: 90%;
    margin: 15px 5%;
    /* border: 1px solid #0e4839; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

u{
    /* background-color: #0e4839; */
    color: #0e4839;
}

#about,#contact{
    height: 20vh;
    width: 90%;
    margin: 15px 5%;
    /* border: 1px solid #0e4839; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#about,#contact p,h2{
    /* font-size: 20px; */
    color: #0e4839;
    text-align: justify;
}

#contact ul,a{
    list-style: none;
    color: #0e4839;
    /* text-decoration: none; */
}

.image{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img{
    height: 70%;
    width: 70%;
    border: 4px solid #fdfce7;
    border-radius: 10px;
}